.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5vh;
  background-color: rgb(4, 30, 65);
  color: rgb(250, 191, 83);
  padding-left: 10px;
  font-family: cursive;
}

.navbar h1 {
  font-size: 200%;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
}
